.places__title {
  max-width: calc(100vw * .36);
  font-weight: 900;
  font-size: 72px;
  font-style: normal;
  line-height: 1.05;
  color: #FFFFFF;
  margin: 0;
}

@media (max-width: 768px) {
  .places__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media (max-width: 320px) {
  .places__title {
    font-size: 32px;
    margin-left: 16px;
  }
}
