.places__img {
  max-width: calc(460px - (1280px - 100vw) / 12.8);
  object-fit: cover;
}

@media (max-width: 1024px) {
  .places__img {
    max-width: calc(440px - (1024px - 100vw) / 2.56);
  }
}

@media (max-width: 768px) {
  .places__img {
    max-width: calc(340px - (768px - 100vw) / 22.4);
  }
}

@media (max-width: 380px) {
  .places__img {
    max-width: 100%;
  }
}
