.cover {
  max-width: calc(1184px - (1280px - 100vw) * .625);
  height: calc(740px - (1280px - 100vw) * .39);
  margin: 92px auto;
  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.cover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #2A2C2F;
  opacity: .3;
  transition: opacity .2s linear;
}

.cover:hover:after {
  opacity: .8;
}

@media (max-width: 1024px) {
  .cover {
    max-width: 100vw;
    height: 62.5vw;
  }
}

@media (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
    margin-top: 90px;
  }
}

@media (max-width: 320px) {
  .cover {
    margin-bottom: 64px;
    margin-top: 66px;
  }
}
