.lead__caption {
  font-weight: 400;
  font-size: 10px;
  font-style: normal;
  line-height: 1.4;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 8px 0 0;
}

@media (max-width: 928px) {
  .lead__caption {
    margin-left: calc((1024px - 100vw) / 10.67);
  }
}

@media (max-width: 768px) {
  .lead__caption {
    margin-left: calc(16px + (100vw - 320px) / 56);
  }
}
