.header__radio {
	-webkit-appearance: none;
	-moz-appearance: none;
			 appearance: none;
}

.header__radio:disabled + .header__lang-link {
  text-decoration: none;
}

.header__radio:checked + .header__lang-link {
  text-decoration: underline;
}
